body{
    margin: 0;padding: 0;
}

.assign{padding: 15px 15px;width: 600px;margin: 0 auto;}

.assign section ul{list-style: circle;}

.assign section ul li header{font-size: 16px;font-weight: 900;margin-bottom: 10px;text-transform: uppercase;}

.assign section ul li article{font-size: 14px;margin-bottom: 10px;line-height: 1.5;}